* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #00ff90;
  font-family: "Open Sans", sans-serif;
  
header span.animated {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    background: #ffffff;
}